
$xGap:15px;
$mainColor:#303030;
$subColor:#666;
.five-level ion-img {
  max-height: 35vh;
  overflow: hidden;
}

.card-li{
  margin-bottom: 10px;
}

.list-header{
  padding-top:10px;
  padding-left: $xGap;
  padding-right: $xGap;
 
  background: #fff;
  margin: 0;
  .title{
    font-size: 16px;
  }
  .level-span{
    margin-left: 10px;
    padding: 0 15px;
    height: 24px;
    line-height: 24px;
    color:#fff;
    border-radius: 4px;
    font-size: 12px;
  }

}



.long-grid{
  background: #fff;
  ion-row{
    height:35px;
    line-height:35px;
    font-size: 12px;
  }
  ion-row+ion-row{
    border-top:.55px solid #f1f1f1;
  }
  ion-col{
    flex-wrap: nowrap;
  }
}
ion-grid + ion-grid{
  margin-top:15px;
}

.time{
  float: right;
  color: #9c9c9c;
  font-size: 13px;
}
