
$xGap:15px;
$mainColor:#303030;
$subColor:#666;
.five-level ion-img {
  max-height: 35vh;
  overflow: hidden;
}
.card-li{
  padding-top:10px;
}
.list-header{
  padding-left: $xGap;
  padding-right: $xGap;
  height:30px;
  line-height: 30px;
  .title{
    font-size: 16px;
  }
  .level-span{
    margin-left: 10px;
    padding:3px 15px;
    color:#fff;
    border-radius: 4px;
    font-size: 12px;
  }
  

  .long-grid{
    
  }
}

.one-level {
  background-color: #4ea9ff;
}
.two-level {
  background-color: #0067ff;
}
.three-level  {
  background-color: #00ff00;
}
.four-level  {
  background-color: #ffff00;
}
.five-level  {
  background-color: #ffd700;
}
.six-level  {
  background-color: #fc0105;
}

.long-grid{
  ion-row{
    height:35px;
    line-height:35px;
    font-size: 12px;
  }
  ion-row+ion-row{
    border-top:.55px solid #f1f1f1;
  }
  ion-col{
    flex-wrap: nowrap;
  }
}
ion-grid + ion-grid{
  margin-top:15px;
}

.time{
  float: right;
  color: #9c9c9c;
  font-size: 13px;
}
